@page "/Participate"

<div class="d-flex justify-content-center mt-2">
    <h3>Participate</h3>
</div>

<iframe src="https://framaforms.org/send-me-instagram-posts-video-or-cute-image-to-add-to-the-site-1726907355" width="100%" height="800" border="0"></iframe>

@code {

}